html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.clock {
    width: 500px;
    height: 500px;
    background-image: url(../img/clock.jpg);
    background-size: cover;
}
.hour_wrapper {
    width: 40%;
    height: 40%;
    animation: run 43200s infinite;
}
.hour {
    width: 10px;
    height: 50%;
    margin: 0 auto;
    background-color: red;
}
.minute_wrapper {
    width: 60%;
    height: 60%;
    animation: run 3600s infinite;
}
.minute {
    width: 6px;
    height: 50%;
    margin: 0 auto;
    background-color: blue;
}
.second_wrapper {
    width: 80%;
    height: 80%;
    animation: run 60s infinite steps(60);
}
.second {
    width: 3px;
    height: 50%;
    margin: 0 auto;
    background-color: black;
}
@keyframes run {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.all {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
